.col-md-3.gameSummaryBlock
  .panel.panel-gsNotInLibrary
    .panel-heading
      = link_to game_summary_path(game_summary) do
        = game_summary.name
        %small= game_summary.year_published
    .panel-body
      .row
        .col-md-3
          = rank_badge(game_summary)
          = library_count(game_summary)
          = wish_list_count(game_summary)

        .col-md-9
          = image_tag game_summary.thumbnail_url, class: :center
    .panel-footer
      .row
        .col-md-4
          = render 'game_libraries/add_to_library_button', game_summary: game_summary
        .col-md-4.text-center
          = render 'wish_lists/add_to_wish_list_button', game_summary: game_summary
        .col-md-4.text-right
          = render 'game_summaries/request_play_button', game_summary: game_summary
