.row
  .col-md-6
    %h1{style: 'margin-top: 0px;'}= grid_title || "Game Summaries"
  .col-md-6
    %span.pull-right
      %button.btn.btn-default.btn-sm{onclick:'$("#gameSummarySearchForm").toggle();false'}= icon('search','Search')
    %span.pull-right
      %button.btn.btn-default.btn-sm{onclick:'$("#findBggGameSearchForm").toggle();false'}= icon('plus','From BGG')
      &nbsp;
    %span.pull-left
      = sort_link @q, :name, "Name", {default_order: :desc}, class: 'btn btn-sm btn-primary'
    %span.pull-left
      &nbsp;
    %span.pull-left
      = sort_link @q, :game_library_items_count, '# in libraries', {default_order: :desc}, class: 'btn btn-sm btn-primary'
    %span.pull-left
      = sort_link @q, :wish_list_items_count, '# in Wish Lists', {default_order: :desc}, class: 'btn btn-sm btn-primary'
    %span.pull-left
      &nbsp;
    %span.pull-left
      = sort_link @q, :bgg_game_rank, 'Bgg Rank', {}, class: 'btn btn-sm btn-primary'

.row
  .col-md-12
    .btn-group

#findBggGameSearchForm.row.well{style: 'display: none;'}
  = render 'bgg_game_searches/form', orig_term: nil

#gameSummarySearchForm.row.well{style: 'display: none;'}
  = render 'game_summaries/search_form'

.row
  - if game_summaries.empty?
    Go forth and play more games!
  - else
    - game_summaries.each_slice(4) do |gs_row|
      .row
        = render gs_row
.row
  = paginate @game_summaries, theme: 'twitter-bootstrap-3'



