.row
  .col-md-6
    %h1{style: 'margin-top: 0px;'} All Known Games
  .col-md-6
    .span.pull-right
      %button.btn.btn-default{onclick:'$("#gameSummarySearchForm").toggle();false'}= icon('search','Search')
    .span.pull-right
      %button.btn.btn-default{onclick:'$("#findBggGameSearchForm").toggle();false'}= icon('plus','From BGG')
      &nbsp;
#findBggGameSearchForm.row.well{style: 'display: none;'}
  = render 'bgg_search_form'

#gameSummarySearchForm.row.well{style: 'display: none;'}
  = render 'search_form'

.row
  - if @game_summaries.empty?
    %em No Records Found
  - else
    = render 'game_summaries/game_summary_grid', game_summaries: @game_summaries
.row
  = paginate @game_summaries, theme: 'twitter-bootstrap-3'

