.row
  .col-md-3
    = image_tag @game_summary.thumbnail_url
  .col-md-7
    %h3{style:'margin-top: -3px;'}
      = @game_summary.name
      %small= @game_summary.year_published
    %p
      %b Players:
      = @game_summary.player_range
    %p
      %b Playing time:
      = @game_summary.playing_time
    %p
      %b Categories:
      = render partial: 'bgg_categories/bgg_category_badge', collection: @game_summary.bgg_categories, as: :bgg_category
    %p
      %b Families:
      = render partial: 'bgg_families/bgg_family_badge', collection: @game_summary.bgg_families, as: :bgg_family
    %p
      %b Mechanics:
      = render partial: 'bgg_mechanics/bgg_mechanic_badge', collection: @game_summary.bgg_mechanics, as: :bgg_mechanic
  .col-md-2
    = link_to "https://boardgamegeek.com/boardgame/161297/paradox#{@game_summary.id}}" do
      = image_tag 'bgg_cornerlogo.png'
.row
  %p
    = @game_summary.description.html_safe
.row
  .col-md-4
    %p
      %b Artists:
      = render @game_summary.bgg_artists
  .col-md-4
    %p
      %b Designers:
      = render @game_summary.bgg_designers
  .col-md-4
    %p
      %b Publishers:
      = render @game_summary.bgg_publishers

= link_to 'Back', game_summaries_path
