%h1 Listing game_sessions

%table
  %thead
    %tr
      %th Game date
      %th Location
      %th Log
      %th
      %th
      %th

  %tbody
    - @game_sessions.each do |game_session|
      %tr
        %td= game_session.game_date
        %td= game_session.location
        %td= game_session.log
        %td= link_to 'Show', game_session
        %td= link_to 'Edit', edit_game_session_path(game_session)
        %td= link_to 'Destroy', game_session, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game session', new_game_session_path
