%p#notice= notice

%p
  %b Session date:
  = @game_session.session_date
%p
  %b Location:
  = @game_session.location
%p
  %b Notes:
  = @game_session.notes

= link_to 'Edit', edit_game_session_path(@game_session)
\|
= link_to 'Back', game_sessions_path
