%h3
  = link_to "Mechanic:", bgg_mechanics_path
  = @bgg_mechanic.name
  %small
    = link_to '[On BGG]', "https://boardgamegeek.com/boardgamemechanic/#{@bgg_mechanic.id}"

= render 'game_summaries/game_summary_grid', game_summaries: @game_summaries


