%h3
  = link_to "Family:", bgg_families_path
  = @bgg_family.name
  %small
    = link_to '[On BGG]', "https://boardgamegeek.com/boardgamefamily/#{@bgg_family.id}"

= render 'game_summaries/game_summary_grid', game_summaries: @game_summaries


