%footer
  .navbar-footer.navbar.navbar-default.navbar-fixed-bottom{role: 'footer'}
    .container
      .navbar-header
        %a.navbar-brand{href: '#'}
          %small.text-muted
            &copy; #{Date.today.year} Scott M Parrish

      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Thanks to Board Game Geek', 'https://boardgamegeek.com'

        %li
          = link_to mit_license_url do
            = image_tag 'https://img.shields.io/badge/license-MIT-blue.svg'
        %li
          = link_to privacy_policy_url do
            = image_tag 'https://img.shields.io/badge/Privacy-Policy-brightgreen.svg'
        %li
          = link_to 'https://www.ruby-lang.org/' do
            = image_tag 'https://img.shields.io/badge/Ruby-2.2.2-red.svg'
        %li
          = link_to 'http://rubyonrails.org/' do
            = image_tag 'https://img.shields.io/badge/Rails-4.2.3-red.svg'

