- if ! current_user.is_a? GuestUser
  %li
    = link_to 'My Library', current_user.game_library
  %li
    = link_to 'My Wish List', current_user.wish_list
%li
  = link_to 'All Libraries', game_libraries_path
%li
  = link_to 'All Wish Lists', wish_lists_path

%li.dropdown
  = link_to icon('caret-down','Games'), '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}
  %ul.dropdown-menu
    %li= link_to 'All Games', game_summaries_path
    - if ! current_user.is_a? GuestUser
      %li= link_to 'Import From BGG', new_bgg_game_search_path
    %li.divider

    %li= link_to 'By Category', bgg_categories_path
    %li= link_to 'By Family', bgg_families_path
    %li= link_to 'By Mechanic', bgg_mechanics_path

    %li.divider

    %li= link_to 'By Artist', bgg_artists_path
    %li= link_to 'By Designer', bgg_designers_path
    %li= link_to 'By Publisher', bgg_publishers_path
- if ! current_user.is_a? GuestUser
  %li
    = link_to 'Search BGG', new_bgg_game_search_path

